.bgvideo video {
    height: 65vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
}


.effect {
    height: 65vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.311);
}
.bgvideo {
    height: 65vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-text {
    color: rgb(177, 207, 192);
    z-index: 2;
}